@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';
@import 'utils/functions';
@import 'blocks/card';

// Modules
// @import "modules/my-module.scss";
img {
  width: 100%;
  height: auto;
}
body {
  font-family: 'Uni Neue', serif;
}
@include make_container($breakpoints);
.works {
  padding: 30px 0;
}
.works__title {
  position: relative;
  font-weight: 500;
  font-size: 43px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: #454750;
  margin-bottom: 50px;
  padding-top: 15px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 50px;
    background: #3685ee;
  }
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
