extends ../layout/main



block content
  .works
    .container
      .works__title Наши работы
      .works__list
        +card('../../assets/img/work-1.jpg','alt', 'Импликация, следовательно, контролирует бабувизм')
        +card('../../assets/img/work-2.jpg','alt', 'Импликация, следовательно, контролирует бабувизм')
        +card('../../assets/img/work-3.jpg','alt', 'Импликация, следовательно, контролирует бабувизм')
        +card('../../assets/img/work-4.jpg','alt', 'Импликация, следовательно, контролирует бабувизм')
        +card('../../assets/img/work-5.jpg','alt', 'Импликация, следовательно, контролирует бабувизм')
        +card('../../assets/img/work-6.jpg','alt', 'Импликация, следовательно, контролирует бабувизм')



block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }