include ../utils/mixins
include ../blocks/card
block variables

<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass) 
    block content
      

    block script